<table border=”1″>
      <tr>
        <th>X</th>
        <!--
        {% for players in object_list %}
        <th>{{ player.name }}</th>
        {% endfor %} /!-->
        <th>風間</th>
        <th>宮澤</th>
        <th>長安</th>

        <th>勝敗</th>
        <th>順位</th>
      </tr>
      <!--
        {% for team in object_list|dictsortreversed:"points" %}
          <tr>
            <th>{{ team.name }}</th>............
          </tr>
        {% endfor %}
      /!-->
      <tr>
        <th>風間</th>
        <th>X</th>
        <th><table border=”1″><th>1</th><th>5-3<br>1-5<br>2-5</th><th>2</th></table></th>
        <th><a href="./result.html">入力</a></th>
        <th>0</th>
        <th></th>
      </tr>

      <tr>
        <th>宮澤</th>
        <th bgcolor="#ffff00"><table border=”1″><th>2</th><th>3-5<br>5-1<br>5-2</th><th>1</th></table></th>
        <th>X</th>
        <th><table border=”1″><th>0</th><th>3-5<br>2-5<br>0-5</th><th>3</th></table></th>
        <th>1</th>
        <th></th>
      </tr>

      <tr>
        <th>長安</th>
        <th><a href="./result.html">入力</a></th>
        <th bgcolor="#ffff00"><table border=”1″><th>3</th><th>5-3<br>5-2<br>5-0</th><th>0</th></table></th>
        <th>X</th>
        <th>1</th>
        <th></th>
      </tr>

      <tr>
        <th>対戦順</th>
      </tr>
    </table>
